[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.1"
sklearn = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.7"
